.banner{
    background: url(../fotos/banners/banner1.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70rem;
    max-width: 100%;
    color: $color1;
    .tituloBanner {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        font-size: 2.7rem;
        text-align: left;
        padding: 0.4rem;
        width: max-content;
        text-shadow: 0.2rem 0.2rem 0.2rem $color3;
        transform: translate(6rem, 9.3rem);

    }
    .tituloAbajoBanner {
        @extend .tituloBanner;
    }
    .botonBanner {
        @extend .tituloBanner;
        a{
            text-decoration: none;
            color: $color2;
        }
    }
}

.tituloBanner:hover {
    background-color: $color3;
}