.navBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #b39495;
    font-size: 1.5rem;
    height: 3.5rem;
}

.navList {
    display: flex;
    list-style: none;
    overflow: hidden;
    justify-content: center;
    margin-right: 2rem;
    li { 
        list-style: none;
        a {
            display: inline-block;
            color: $color2;
            padding: 0.6rem;
            gap: 1.25rem;
            text-decoration: none;
            
        }
    }
}

.navList li a:hover {
    color: $color4;
}



