.navBar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #b39495;
    font-size: 1.5rem;
    height: 3.5rem;
    .navList {
        height: 3.5rem;
    }
}



